<tr id="estado<%= estado.id %>" data-controller="fade" data-action="click->fade#fade_in">
  <td>
    <%= estado.id %>
  </td>
  <td>
    <%= estado.nome %>
  </td>
  <td>
    <%= estado.sigla %>
  </td>
</tr>