<div id="<%= dom_id departamento %>" class="show">
  <p>
    <strong>Nome:</strong>
    <%= departamento.nome %>
  </p>

  <p>
    <strong>Campus:</strong>
    <%= departamento.campus %>
  </p>

</div>
