<tr id="estado<%= departamento.id %>" data-controller="fade" data-action="click->fade#fade_in">
  <td>
    <%= departamento.id %>
  </td>
  <td>
    <%= departamento.nome %>
  </td>
  <td>
    <%= departamento.campus %>
  </td>
</tr>