<h1>New departamento</h1>

<div class="new_user">
<%= render "form", departamento: @departamento %>

<br>

<div class="showLinksBlack">
  <%= link_to "Back to departamentos", departamentos_path %>
</div>
</div>
