p{
    color: white;
}

body{
    background-color: gray;
    margin: 0px;
    height: 100%;
}

.meio{
    background-color: #282828;
    color: lightgray;
    display: flex;   
    min-height: 100vh;
}

main{
    padding: 100px;
}

nav{
    padding: 80px;
    background-color: #1F1B24;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: block;
}

li{
    text-decoration: none;
    margin: 60px 30px;
    background-color: #1F1B24;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

li a{
    text-decoration: none;
    color: lightgray;
    padding: 10px;
}

li a:hover{
    background-color: lightgray;
    border-radius: 10px;
    color: #1F1B24;
}

.fotoPerfil{
    width: 250px;
    border-radius: 250px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

article{
    font-family: 'Roboto', 'sans-serif';
}