<div id="<%= dom_id matricula %>" class="show">
  <p>
    <strong>Ano:</strong>
    <%= matricula.ano %>
  </p>

  <p>
    <strong>Complemento:</strong>
    <%= matricula.complemento %>
  </p>

  <p>
    <strong>Aluno:</strong>
    <%= matricula.aluno_id %>
  </p>

</div>
