<h1>New matricula</h1>

<div class="new_user">
  <%= render "form", matricula: @matricula %>

  <br>

  <div class="showLinksBlack" >
    <%= link_to "Back to matriculas", matriculas_path %>
  </div>
</div>
