<div id="opestado<%= user.id %>" style="display: none" class="allModal">
    <div class="textModal">
        <span>
            Email:
            <%= user.email %>
        </span>
        <span>
            Role:
            <%= user.role %>
        </span>
        
        <% if current_user.role == 'admin' %>
            <div class=operaModal>
                <span>
                    <%= button_to "Destroy this user", control_user_path(user), method: :delete %>
                </span>
            </div>
        <% end %>
        
    

    </div>
</div>