p{
    color: lightgray;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #130f18;
    margin: 0px;
    height: 100vh;
}

.meio{
    background-color: #282828;
    color: lightgray;
    display: flex;   
    flex-grow: 1;
    background-image: radial-gradient(ellipse, #282828,#131313d7);
}

main{
    padding: 20px 100px;
    width: 100%;
}

nav{
    padding: 20px 80px;
    background-image: radial-gradient(ellipse, #1F1B24, #131116);
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: block;
}

li{
    text-decoration: none;
    margin: 60px 0px;
    background-color: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

li a{
    text-decoration: none;
    color: lightgray;
    padding: 10px;
}

li a:hover{
    background-color: lightgray;
    border-radius: 10px;
    color: #1F1B24;
}

.fotoPerfil{
    width: 250px;
    border-radius: 250px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

article{
    font-family: 'Roboto', 'sans-serif';
    font-size: 20px;
    margin: 3% 8%;
    text-align: justify;
}

.camerasCarro{
    width: 60%;
    display: block;
    margin: auto;
}

.links{
    color: lightgray;
    padding: 10px;
    display: block;
    margin: 60px 0px;
    background-color: #1F1B24;
    border-radius: 25px;
    border-color: black;
    border-style: solid;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
}

.links:hover{
    background-color: lightgray;
    color: #1F1B24;
}

.logoStreamlit{
    height: 20px;
}

.textStreamlit{
    text-decoration: none;
    color: lightgray;
}

.topic{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menuIniciação{
    padding: 15px 15px;
    text-decoration: none;
    color: lightgray;
    font-size: 28px;

}

h1{
    font-size: 40px;
    text-align: center;
}
h3{
    text-align: center;
    font-size: 28px;
    margin: 80px 0 0 0;
}

.painelVisu{
    width: 80%;
    display: block;
    margin: auto;
}

footer{
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    background-color: #130f18;
    background-image: radial-gradient(ellipse, #130f18, #08060a);
    flex-grow: 0;
}

a.Projetos{
    text-align: center;
    display: block;
    width: fit-content;
    margin: 30px auto;
    color: #00ced1;
}

a.Projetos:hover{
    color: #169496;
}

#nomePrincipal{
    font-family: 'Roboto', 'sans-serif';
    margin: none;
    font-size: 30px;
}

/* Recursividade */
@media screen and (max-width: 800px) {
    .camerasCarro{
        width: 100%;
    }
    .painelVisu{
        width: 100%;
    }
    .meio{
        flex-direction: column;
    }
    main{
        padding: 0px;
    }
    article{
        font-size: 15px;
    }
}